* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 height: 100vh;
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: center;
}

.to {
 background-color: whitesmoke;
 width: auto;
 border-radius: 5px;
 padding: 10px;
}

.to h2 {
 padding: 20px 0 20px 10px;
}

.to .do {
 display: flex;
}

.input {
 width: 380px;
 padding: 8px;
 margin: 10px;
 font-size: 15px;
}

.actionsBtnBox{
    display: flex;
    flex-direction: column;
}

#btn-add,
#delete,
#update {
 background-color: lime;
 border: none;
 border-radius: 4px;
 width: 70px;
 cursor: pointer;
 color: white;
 font-weight: 700;
 font-size: 15px;
 max-height: 40px;
 padding: 8px;
 margin: 10px 5px 10px 0px;
 box-shadow: 0 2px 2px black;
}

#delete,
#update{
    font-size: 10px;
    margin: 0px 5px 0 0;
}

#delete{
    margin-top: 7px;
}

.list .content {
 border: 1px solid black;
 display: flex;
 justify-content: space-between;
 width: 465px;
 margin: 10px;
 min-height: 30px;
 border-radius: 2px;
 padding: 5px;
}

#delete {
 background-color: red;
}
@media (max-width: 700px){
 body{
  display: flex;
  align-items: initial;
 }
 .to{
  width: 100vw;
 }
 
 .to .list .content{
  width: 350px;
 }
}
