.formDiv form{
    /* display: flex; */
    /* position: absolute;
    top: 0;
    left: 0; */
    width: max-content;
    border: 2px solid #393939;
    /* height: 5rem; */
}
.formDiv form.hide{
    display: none;
}
.formDiv form input{
    padding: .4rem;
    font-size: 1rem;
    margin-right: 1rem;
    width: 30rem;
}
.formDiv form button{
    cursor: pointer;
    font-size: 1rem;
    padding: .4rem 1rem;
}
.formDiv ul li{
    list-style: none;
}

.formDiv .todoListDiv{
    margin-top: 2rem;
}
.formDiv .todoListDiv ul{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}
.formDiv .todoListDiv ul li{
    width: 23rem;
    height: 5rem;
    max-height: 10rem;
    max-width: 30rem;
    border: 1px solid #7b7b7b;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    border-radius: 2px;
}
.formDiv .todoListDiv ul li.completedToDo{
    text-decoration: line-through;
}
.formDiv .todoListDiv ul li span{
    position: absolute;
    right: 1rem;
    top: .2rem;
    font-size: 2rem;
    cursor: pointer;
}